<div>
    <h1>Productos:</h1> 

    <ul>
        {{#each products}}
        <li>
            <p><b>{{this.title}}</b></p>
            <p>Precio: ${{this.price}}</p>
            <p>Stock: {{this.stock}}</p>
        </li>
        <br> <br> <br>
        {{/each}}
    </ul>

    <div>
        {{#if hasPrevPage}}
        <a href="products/?page={{prevPage}}">Anterior</a>
        {{/if}}
        <span>Página {{page}} de {{totalPages}}</span>
        {{#if hasNextPage}}
        <a href="products/?page={{nextPage}}">Siguiente</a>
        {{/if}}
    </div>

</div>